In [ ]:
"""
basic vars:
    list
    tuple
    dict
    set
"""

In [ ]:
# List

In [ ]:
# 051 리스트 생성
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

# 순위	영화
# 1	닥터 스트레인지
# 2	스플릿
# 3	럭키

In [ ]:
# 052 리스트에 원소 추가
# 051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [ ]:
# 053
# movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
# movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
# 054
# movie_rank 리스트에서 '럭키'를 삭제하라.
# movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
# 055
# movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
# movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
# 061
# price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

# price = ['20180728', 100, 130, 140, 150, 160, 170]
# 출력 예시:
# [100, 130, 140, 150, 160, 170]

In [ ]:
# 062
# 슬라이싱을 사용해서 홀수만 출력하라.

# nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 실행 예:
# [1, 3, 5, 7, 9]

In [ ]:
# 063
# 슬라이싱을 사용해서 짝수만 출력하라.

# nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 실행 예:
# [2, 4, 6, 8, 10]

In [ ]:
# 064
# 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

# nums = [1, 2, 3, 4, 5]
# 실행 예:
# [5, 4, 3, 2, 1]

In [ ]:
# 067 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
# 068 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자
# LG전자
# Naver
# SK하이닉스
# 미래에셋대우

In [ ]:
# 070 리스트 정렬
# 리스트에 있는 값을 오름차순으로 정렬하세요.

# data = [2, 4, 3, 1, 5, 10, 9]

In [ ]:
# Tuple

In [ ]:
# 075
# 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

# t = 1, 2, 3, 4

In [ ]:
# Dict

In [ ]:
# 085
# 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

# 이름	희망 가격
# 메로나	1000
# 폴라포	1200
# 빵빠레	1800

In [ ]:
# 091 딕셔너리 생성
# 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

# 이름	가격	재고
# 메로나	300	20
# 비비빅	400	3
# 죠스바	250	100

In [ ]:
# 094 딕셔너리 추가
# inventory 딕셔너리에 아래 데이터를 추가하라.

# inventory = {"메로나": [300, 20],
#               "비비빅": [400, 3],
#               "죠스바": [250, 100]}

# 이름	가격	재고
# 월드콘	500	7